In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Barbara Youngkeit\Desktop\SQL\CSV\laptops.csv")

In [4]:
df.head(1)

,Company,TypeName,Inches,screen_resolution,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_brand,cpu_name,cpu_speed,Ram,memory_type,primary_storage,gpu_brand,gpu_name,OpSys,Weight,Price,total_pixels
0,NaN,Ultrabook,13.3,NaN,1,0,1600.0,2560,Intel,Core i5,2.3,8.0,SSD,128,Intel,Iris Plus Graphics 640,NaN,1.4,71379,4096000

In [10]:
df.shape

(1322, 20)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1189 non-null   object
 1   TypeName           1322 non-null   object
 2   Inches             1322 non-null   float64
 3   screen_resolution  930 non-null    object
 4   has_ips_panel      1322 non-null   int64
 5   is_touchscreen     1322 non-null   int64
 6   resolution_width   1216 non-null   float64
 7   resolution_height  1322 non-null   int64
 8   cpu_brand          1322 non-null   object
 9   cpu_name           1322 non-null   object
 10  cpu_speed          1322 non-null   float64
 11  Ram                1243 non-null   float64
 12  memory_type        390 non-null    object
 13  primary_storage    1322 non-null   int64
 14  gpu_brand          1322 non-null   object
 15  gpu_name           1322 non-null   object
 16  OpSys              1133 non-null   object
 17  Weight             1249 non-null   float64
 18  Price              1322 non-null   int64
 19  total_pixels       1322 non-null   int64
dtypes: float64(5), int64(6), object(9)
memory usage: 206.7+ KB

In [17]:
df.dropna(inplace = True)

In [18]:
df.shape

(193, 20)

In [5]:
df = pd.read_csv(r"C:\Users\Barbara Youngkeit\Desktop\SQL\CSV\laptops.csv")

In [20]:
df.shape

(1322, 20)

In [7]:
df.describe()

,Inches,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_speed,Ram,primary_storage,Weight,Price,total_pixels
count,1322.000000,1322.000000,1322.000000,1216.000000,1322.000000,1322.000000,1243.000000,1322.000000,1249.000000,1.322000e+03,1.322000e+03
mean,15.122542,0.281392,0.146747,1074.299342,1895.639939,2.301664,9.198713,396.865356,2.078383,5.838318e+04,2.170972e+06
std,1.945084,0.449848,0.353988,286.711732,494.741031,0.507130,7.031441,419.775480,0.796887,5.045083e+04,1.393255e+06
min,10.100000,0.000000,0.000000,768.000000,1366.000000,0.900000,1.000000,-2048.000000,0.000000,-1.427900e+05,1.049088e+06
25%,14.000000,0.000000,0.000000,900.000000,1600.000000,2.000000,4.000000,256.000000,1.500000,3.118475e+04,1.440000e+06
50%,15.600000,0.000000,0.000000,1080.000000,1920.000000,2.500000,8.000000,256.000000,2.000000,5.109600e+04,2.073600e+06
75%,15.600000,1.000000,0.000000,1080.000000,1920.000000,2.700000,8.000000,512.000000,2.300000,7.863225e+04,2.073600e+06
max,35.600000,1.000000,1.000000,2160.000000,3840.000000,3.600000,80.000000,2048.000000,11.100000,1.016580e+06,8.294400e+06

In [9]:
df.loc[df['primary_storage'] < 0, 'primary_storage'] *= -1
df.loc[df['Price'] < 0, 'Price'] *= -1

In [10]:
df.describe()

,Inches,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_speed,Ram,primary_storage,Weight,Price,total_pixels
count,1322.000000,1322.000000,1322.000000,1216.000000,1322.000000,1322.000000,1243.000000,1322.000000,1249.000000,1.322000e+03,1.322000e+03
mean,15.122542,0.281392,0.146747,1074.299342,1895.639939,2.301664,9.198713,447.582451,2.078383,6.101401e+04,2.170972e+06
std,1.945084,0.449848,0.353988,286.711732,494.741031,0.507130,7.031441,365.172689,0.796887,4.723277e+04,1.393255e+06
min,10.100000,0.000000,0.000000,768.000000,1366.000000,0.900000,1.000000,0.000000,0.000000,9.271000e+03,1.049088e+06
25%,14.000000,0.000000,0.000000,900.000000,1600.000000,2.000000,4.000000,256.000000,1.500000,3.192700e+04,1.440000e+06
50%,15.600000,0.000000,0.000000,1080.000000,1920.000000,2.500000,8.000000,256.000000,2.000000,5.216100e+04,2.073600e+06
75%,15.600000,1.000000,0.000000,1080.000000,1920.000000,2.700000,8.000000,512.000000,2.300000,7.937350e+04,2.073600e+06
max,35.600000,1.000000,1.000000,2160.000000,3840.000000,3.600000,80.000000,2048.000000,11.100000,1.016580e+06,8.294400e+06

In [12]:
df['resolution_width'] = df['resolution_width'].fillna(df['total_pixels'] / df['resolution_height'])

In [13]:
df.describe()

,Inches,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_speed,Ram,primary_storage,Weight,Price,total_pixels
count,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1243.000000,1322.000000,1249.000000,1.322000e+03,1.322000e+03
mean,15.122542,0.281392,0.146747,1071.428139,1895.639939,2.301664,9.198713,447.582451,2.078383,6.101401e+04,2.170972e+06
std,1.945084,0.449848,0.353988,284.746319,494.741031,0.507130,7.031441,365.172689,0.796887,4.723277e+04,1.393255e+06
min,10.100000,0.000000,0.000000,768.000000,1366.000000,0.900000,1.000000,0.000000,0.000000,9.271000e+03,1.049088e+06
25%,14.000000,0.000000,0.000000,900.000000,1600.000000,2.000000,4.000000,256.000000,1.500000,3.192700e+04,1.440000e+06
50%,15.600000,0.000000,0.000000,1080.000000,1920.000000,2.500000,8.000000,256.000000,2.000000,5.216100e+04,2.073600e+06
75%,15.600000,1.000000,0.000000,1080.000000,1920.000000,2.700000,8.000000,512.000000,2.300000,7.937350e+04,2.073600e+06
max,35.600000,1.000000,1.000000,2160.000000,3840.000000,3.600000,80.000000,2048.000000,11.100000,1.016580e+06,8.294400e+06

In [17]:
df.drop(columns=['memory_type'],inplace = True)

In [20]:
df.head(1)

,Company,TypeName,Inches,screen_resolution,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_brand,cpu_name,cpu_speed,Ram,primary_storage,gpu_brand,gpu_name,OpSys,Weight,Price,total_pixels
0,NaN,Ultrabook,13.3,NaN,1,0,1600.0,2560,Intel,Core i5,2.3,8.0,128,Intel,Iris Plus Graphics 640,NaN,1.4,71379,4096000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1189 non-null   object
 1   TypeName           1322 non-null   object
 2   Inches             1322 non-null   float64
 3   screen_resolution  930 non-null    object
 4   has_ips_panel      1322 non-null   int64
 5   is_touchscreen     1322 non-null   int64
 6   resolution_width   1322 non-null   float64
 7   resolution_height  1322 non-null   int64
 8   cpu_brand          1322 non-null   object
 9   cpu_name           1322 non-null   object
 10  cpu_speed          1322 non-null   float64
 11  Ram                1243 non-null   float64
 12  primary_storage    1322 non-null   int64
 13  gpu_brand          1322 non-null   object
 14  gpu_name           1322 non-null   object
 15  OpSys              1133 non-null   object
 16  Weight             1249 non-null   float64
 17  Price              1322 non-null   int64
 18  total_pixels       1322 non-null   int64
dtypes: float64(5), int64(6), object(8)
memory usage: 196.4+ KB

In [24]:
df.dropna(inplace = True)

In [26]:
df.shape

(717, 19)

In [34]:
df['Company'].unique()

array(['Acer', 'Dell', 'Lenovo', 'HP', 'Chuwi', 'dell', 'asus', 'MSI',
       'Asus', 'hp', 'acer', 'lenovo', 'msi', 'Huawei', 'Vero', 'Razer',
       'Toshiba', 'toshiba', 'mediacom', 'Mediacom', 'samsung', 'LG',
       'Samsung', 'razer', 'Xiaomi'], dtype=object)

In [36]:
df['Company'] = df['Company'].str.title()

In [37]:
df['Company'].value_counts()

Company
Dell        181
Hp          163
Lenovo      157
Asus         84
Msi          43
Acer         35
Toshiba      28
Samsung       7
Razer         6
Mediacom      4
Chuwi         2
Huawei        2
Vero          2
Lg            2
Xiaomi        1
Name: count, dtype: int64

In [39]:
from scipy.stats import zscore
df['z_score'] = zscore(df['Price'])
outliers = df[abs(df['z_score']) > 3]
num_outliers = len(outliers)
num_outliers

5

In [40]:
df_cleaned = df.drop_duplicates(subset=['Company', 'cpu_name', 'gpu_name', 'total_pixels', 'Ram'])
num_rows_left = len(df_cleaned)
num_rows_left

376